
    <h3>Estadísticas </h3>
    <a href="/">Volver </a>
    <p><b>El número de preguntas:</b><%= statistics.numpreguntas %></p>
    <p><b>El número de comentarios totales:</b><%= statistics.comentarios %></p>
    <p><b>El número medio de comentarios por pregunta:</b><%= statistics.mediacomentarios %></p>
    <p><b>El número de preguntas sin comentarios:</b><%= statistics.preguntassincomentarios %></p>
    <p><b>El número de preguntas con comentarios:</b><%= statistics.preguntasconcomentarios %></p>
      <p><%= statistics.control %></p>
    

   